body {
	/* margin: 0px !important;
	padding: 0px !important; */
	font-family: 'lora';
	background-color: #F5F5F5;
}

.mr-r-15 {
	margin-right: 15px;
}

.mr-r-5 {
	margin-right: 5px;
}

.mr-r-30 {
	margin-right: 30px;
}

.mr-t-25 {
	margin-top: 25px;
}

.mr-t-20 {
	margin-top: 20px !important;
}

.mr-t-40 {
	margin-top: 40px;
}

.sticky-top {
	position: fixed;
	top: 0;
}

.mr-t-45 {
	margin-top: 45px;
}

.mr-t-100 {
	margin-top: 100px !important;
}

.mr-b-30 {
	margin-bottom: 30px;
}

.mr-t-10 {
	margin-top: 10px !important;
}

.mr-b-10 {
	margin-bottom: 10px !important;
}

.no-padding {
	padding: 0px !important;
}

.text-center {
	text-align: center !important;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.color-gray {
	color: gray;
}

.box {
	height: 350px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 20px;
	border-color: #d3d5df;
	box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
	cursor: pointer;
	margin-bottom: 15px;
}

footer {
	background-color: #f8f9fa;
	height: 40px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer .text {
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	margin: 5px 0px;
}

.form-control {
	background: no-repeat;
	border: none;
	color: #000;
	border-bottom: 1px solid rgb(160 160 160 / 32%);
	border-radius: 0px;
	padding: 0px;
	box-shadow: none !important;
	font-size: 30px;
}

.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	position: absolute;
}

.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid orange;
	border-color: orange transparent orange transparent;
	animation: lds-dual-ring 1.2s linear infinite;
	position: absolute;
	left: 0% !important;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.shop-header {
	width: 100%;
	height: 250px;
	background-color: orange;
	padding: 30px 300px;
}

.shop-header-name, .shop-header-address, .shop-header-time {
	margin: 0px;
	font-size: 70px;
	color: white;
}

.shop-header-address, .shop-header-time {
	font-size: 25px;
}

.shop-header-image {
	position: absolute;
	top: 15%;
	right: 15%;
	height: 150px;
}

/* width */

::-webkit-scrollbar {
	width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 16px;
}

/* Handle */

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 16px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.text-color {
	color: black !important;
	font-weight: 600;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav-heading {
	padding: 0px 8px 0px 32px;
	text-decoration: none;
	font-size: 20px;
	color: orange;
	display: block;
	transition: 0.3s;
}

.sidenav p:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-left .5s;
	padding: 16px;
	position: relative;
}

.text-area-order-history{
	resize: none;
	outline: none;
	margin-bottom: 30px;
}

hr{
	margin: 0px;
	margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
	.nav-desktop-view {
		display: none;
	}
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
	.logo {
		height: 40px;
	}
	.header {
		height: 80px;
		width: 100%;
		box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
		padding: 10px;
		position: relative;
	}
	.logo-text {
		display: inline-block;
		font-size: 20px;
		position: absolute;
		top: 30%;
		left: 20%;
	}
	.nav-items {
		font-size: 14px;
		position: absolute;
		right: 0px;
		top: 28px;
	}
	.nav-mr {
		margin-right: 12px;
	}
	.nav-items :hover {
		color: orange;
		cursor: pointer;
	}
	.count-text {
		font-size: 20px;
		font-weight: 600;
	}
	.content-padding {
		padding: 25px 20px;
	}
	.shop-image {
		width: 100%;
		height: 150px;
		border-radius: 10px;
	}
	.shop-time {
		font-size: 15px;
	}
	.shop-address {
		color: grey;
		font-size: 15px;
	}
	.box {
		height: 325px;
	}
	.shop-heading {
		font-size: 25px;
		margin-top: 20px;
		font-weight: 400;
	}
	.loginBanner {
		width: 50%;
		position: absolute;
		right: 50%;
		top: 0;
		height: 100%;
	}
	.loginbox {
		width: 85%;
		position: absolute;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
		box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
		border-radius: 32px;
		padding: 30px 50px;
		min-height: 300px;
	}
	.loginPage {
		height: 100vh!important;
		background: #fff;
		width: 100%;
		margin: 0px!important;
	}
	.display-none {
		display: none !important;
	}
	.welcome-message {
		font-size: 15px;
		font-weight: 600;
		color: orange;
		text-align: center;
		margin: 15px 0px;
	}
	.box-label {
		font-size: 15px;
		color: brown;
		font-weight: 600;
	}
	.reset-password, .sign-up {
		font-size: 15px;
		font-weight: 600;
		color: brown;
		text-align: center;
		cursor: pointer;
	}
	.sign-up {
		margin-top: 12px;
	}
	.login-box-icon {
		height: 50px;
		width: 50px;
		position: absolute;
		top: -6%;
		left: 40%;
	}
	.form-control {
		height: 25px;
		font-size: 18px;
	}
	.login-button {
		font-size: 13px;
		padding: 10px 10px;
		font-weight: 600;
		background: orange;
		width: 100%;
		margin: 15px 0px 0px;
	}
	.lds-dual-ring:after {
		left: 36%;
	}
	.incorrect-password-text {
		margin: 0px 0px -25px;
		color: red;
		font-size: 15px;
		text-align: center;
	}
	.shop-header-name, .shop-header-address, .shop-header-time {
		font-size: 40px;
		text-align: center;
	}
	.shop-header-address, .shop-header-time {
		font-size: 18px;
	}
	.shop-header-image {
		position: absolute;
		top: 15%;
		right: 15%;
		display: none;
	}
	.shop-header {
		width: 100%;
		height: 150px;
		padding: 20px
	}
	/* .empty-cart-image {
		height: 358px;
	} */
	.shop-details-outer {
		margin: 0px 13px 65px !important;
	}
	.menu-items {
		margin-bottom: 10px;
		height: 60px;
		background-color: orange;
		margin-bottom: 10px;
		padding: 5px;
		border-radius: 15px;
		position: relative;
	}
	.menu-items-outer {
		padding: 0px 0px;
		margin-top: 15px;
	}
	.menu-items-name {
		display: inline-block;
		font-size: 15px;
		margin: -10px 65px;
		color: white;
		top: 7px;
	}
	.menu-items-price {
		display: block;
		font-size: 16px;
		margin: 2px 0px 2px 65px;
		color: white;
		top: 12px;
	}
	.menu-items-add-button, .menu-items-count-button {
		font-size: 20px;
		right: 5%;
		top: 20%;
		background: white;
		border-radius: 8px;
		padding: 5px;
		border: 1px solid;
		width: 60px;
		text-align: center;
		cursor: pointer;
		position: absolute;
	}
	.menu-items-count-button {
		width: 70px;
		cursor: context-menu;
	}
	.menu-items-count-left-button {
		position: absolute;
		left: 10px;
		font-size: 35px;
		top: -9px;
		cursor: pointer;
	}
	.menu-items-count-right-button {
		position: absolute;
		right: 10px;
		font-size: 20px;
		top: 5px;
		font-weight: 600;
		cursor: pointer;
	}
	.menu-items-image {
		top: 10px;
		position: absolute;
		height: 40px;
		margin-left: 10px;
		border-radius: 7px;
	}
	.cart-items {
		background-color: orange;
		padding: 20px;
		min-height: 250px;
		border-radius: 15px;
		position: sticky;
		top: 30px;
	}
	.order-details-heading {
		font-size: 20px;
		color: white;
	}
	.order-details-items {
		font-size: 15px;
		color: white;
	}
	.checkout-button {
		background-color: white !important;
		color: orange !important;
	}
	.checkout-outer {
		padding: 10px;
		margin: 0px !important;
	}
	.checkout-apply-btn {
		margin: 0px;
		display: inline;
		width: 25%;
		height: 40px;
		padding: 5px !important;
		font-size: 20px;
		background-color: orange;
		border-radius: 5px;
	}
	.checkout-apply-text {
		width: 60% !important;
		display: inline;
		margin-right: 30px;
		font-size: 20px;
	}
	.checkout-code-not-applied {
		font-size: 15px;
		color: red;
	}
	.checkout-code-applied {
		font-size: 15px;
		color: green;
	}
	.checkout-apply-btn-disabled {
		cursor: not-allowed;
		background-color: #ebebe4;
	}
	.checkout-discount-text {
		font-size: 15px;
		margin: 0px;
	}
	.checkout-total-text {
		font-size: 25px;
		margin: 0px;
	}
	.customer-info {
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		margin: 10px 0px 15px;
		border-radius: 12px;
		background-color: white;
		padding: 30px;
	}
	.bill-info {
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		border-radius: 12px;
		float: right;
		background-color: white;
		padding: 30px;
		width: 100%;
		margin: 0px 0px 60px;
	}
	.radio-btn-size {
		height: 15px;
		width: 15px;
		cursor: pointer;
	}
	.radio-text-size {
		font-size: 15px;
		margin-left: 10px;
		margin-right: 20px;
	}
	.area-box, .profile-page-area-box {
		height: 30px;
		width: 50%;
		font-size: 15px;
		margin-left: 30px;
		border: 1px solid brown;
		border-radius: 10px;
		padding: 5px 16px;
	}
	.profile-page-area-box {
		width: 95%;
		margin-left: 0px;
	}
	.bill-info-heading {
		font-size: 15px;
		margin: 0px;
		text-align: center;
	}
	.bill-info-text {
		font-size: 20px;
		margin: 0px;
	}
	.place-order-button {
		background-color: #28A745;
		color: white;
	}
	.display-block {
		display: block;
	}
	.confirm-modal-heading {
		font-size: 25px;
		text-align: center;
	}
	.confirm-modal-body {
		font-size: 15px;
		text-align: center;
		margin-top: -15px !important;
	}
	.confirm-modal-body-2 {
		margin-top: -30px;
		margin-bottom: 15px;
		font-size: 15px;
		text-align: center;
	}
	.modal-header {
		border: none !important;
	}
	.modal-footer {
		border: none !important;
	}
	.confirm-modal-close {
		margin-top: -45px !important;
		margin-right: -20px;
		font-size: 25px;
		color: black;
		opacity: 1;
	}
	.confirm-modal-no {
		position: absolute;
		left: 60%;
		font-size: 15px;
		bottom: 8%;
	}
	.confirm-modal-yes {
		position: absolute;
		bottom: 9%;
		right: 7%;
		font-size: 13px;
		background: #28A745;
	}
	.modal-content {
		min-height: 130px;
	}
	.order-placed-outer {
		padding: 10px;
		text-align: center;
	}
	h1 {
		font-size: 28px !important;
	}
	.order-placed-box {
		background-color: white;
		width: 100%;
		padding: 50px;
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		border-radius: 15px;
	}
	.order-placed-image {
		height: 80px;
		margin-bottom: 30px;
	}
	.order-placed-text {
		font-size: 15px;
		margin: 10px 0px 10px;
	}
	.order-placed-btn {
		width: 100%;
	}
	.offers-page-outer {
		padding: 50px;
		margin: 10px !important;
		background-color: white;
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		min-height: 70vh;
		border-radius: 15px;
		position: relative;
	}
	.offers-box {
		padding: 20px;
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		border: 1px solid #dadce6;
		border-radius: 15px;
		margin-bottom: 15px;
		margin-top: 15px;
		cursor: pointer;
	}
	.offers-heading {
		font-size: 30px;
		margin-top: 10px;
		text-align: center;
	}
	.offers-copy-btn {
		height: 50px;
		width: 100%;
		background-color: white;
		border-radius: 15px;
		border: 1px dashed orange;
		text-align: center;
		padding: 0px;
		bottom: 23%;
	}
	.offers-copy-btn-outer {
		padding: 0px 23px
	}
	.offers-text {
		font-size: 30px;
		vertical-align: text-top;
		color: orange;
	}
	.offers-box-heading {
		font-size: 20px;
		color: black;
		margin: 0px!important;
	}
	.offers-box-text, .offers-box-copied-text {
		font-size: 15px;
		color: black;
		margin: 10px;
	}
	.offers-box-copied-text {
		margin: 10px 0px 0px;
	}
	.offers-not-found, .offers-not-found-shop-details {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		width: 100%;
	}
	.offers-not-found-shop-details {
		height: 450px;
		top: 62%;
		padding: 10px;
	}
	.offers-not-found-text1, .offers-not-found-text2, .offers-not-found-text1-shop-details {
		font-size: 20px;
		position: absolute;
		transform: translate(-50%, -50%);
		top: 35%;
		left: 50%;
		z-index: 1;
	}
	.offers-not-found-text1-shop-details {
		top: 60%;
		font-size: 17px;
	}
	.offers-not-found-text2 {
		top: 43%;
	}
	.no-shops-found {
		min-height: 400px;
		width: 100%;
		background-color: white;
		position: relative;
		border-radius: 15px;
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		padding: 15px;
	}
	.no-shops-found-image, .no-shops-found-image-order-history, .no-shops-found-image-glass, .no-shops-found-image-glass-order-history {
		height: 90px;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		position: absolute;
	}
	.no-shops-found-image-glass {
		top: 63%;
		left: 65%;
	}
	.no-shops-found-heading {
		font-size: 25px;
		margin-top: 35px;
		text-align: center;
	}
	.no-shops-found-image-order-history {
		height: 200px;
		top: 55%;
	}
	.no-shops-found-image-glass-order-history {
		top: 64%;
		left: 70%;
	}
	.order-history-outer {
		margin: 10px !important;
		background-color: white;
		min-height: 70vh;
		border-radius: 15px;
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		padding: 30px;
	}
	.order-history-box {
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		border: 1px solid #dadce6;
		border-radius: 15px;
		padding: 20px;
		margin-bottom: 20px;
	}
	.order-history-box-heading {
		font-size: 20px;
		margin-bottom: 5px;
	}
	.order-history-box-text-heading {
		font-size: 15px;
		color: gray;
	}
	.order-history-box-text {
		font-size: 15px;
		color: black;
		float: right;
	}
	.order-history-box-btn {
		height: 35px;
		width: 50%;
		border: 1px solid orange;
		border-radius: 15px;
		text-align: center;
		padding: 0px;
		bottom: 23%;
		margin: 10px 0px;
	}
	.order-history-box-btn:hover {
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, 1);
	}
	.order-history-box-btn-text {
		font-size: 15px;
		color: orange;
	}
	.order-history-box-image {
		height: 70px;
	}
	.order-history-modal {
		padding: 30px;
		height: 93vh;
		overflow: auto;
	}
	.order-history-modal-body-heading {
		font-size: 20px;
		font-weight: 600;
	}
	.order-history-modal-body-item-text {
		font-size: 15px;
		margin: 0px;
	}
	.order-history-modal-body-quantity-text {
		margin-bottom: 10px;
		font-size: 15px;
	}
	.order-history-modal-body-item-cost-text {
		margin-bottom: 10px;
		font-size: 15px;
		float: right;
	}
	.order-history-modal-body-item-portion-text {
		font-size: 15px;
		margin: 0px;
		margin-top: -5px;
		margin-bottom: 5px;
	}
	.profile-page-outer {
		margin: 10px;
		background-color: white;
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		border-radius: 15px;
		padding: 30px;
		min-height: 400px;
		position: relative;
	}
	.profile-page-btn {
		font-weight: 600;
		background: orange;
	}
	.landing-page-mob-nav-icon {
		position: absolute;
		right: 20px;
		font-size: 25px;
		top: 26%;
	}
	.logo-text-mob {
		font-size: 20px;
		display: inline;
		/* margin: 7px 30px 0px 0px; */
		position: absolute;
		top: 18px;
	}
	.logo-mob {
		height: 40px;
		margin-left: 20px;
		margin-right: 15px;
	}
	.mob-nav-text {
		font-size: 20px;
		margin: -15px 33px 13px;
	}
	.reset-password-text {
		font-size: 16px;
		margin: 15px 0px;
	}
}

@media only screen and (min-width: 769px) {
	.nav-mob-view {
		display: none;
	}
	.logo {
		height: 60px;
		margin-top: -8px;
	}
	.pd-39 {
		padding: 39px;
	}
	.header {
		height: 100px;
		width: 100%;
		box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
		padding: 25px 100px 25px 250px;
		position: relative;
	}
	.logo-text {
		display: inline-block;
		font-size: 30px;
		margin: 0px 0px 0px 15px;
	}
	.nav-items {
		font-size: 25px;
		float: right;
		margin: 6px 0px;
	}
	.nav-items :hover {
		color: orange;
		cursor: pointer;
	}
	.nav-mr {
		margin-right: 50px;
	}
	.count-text {
		font-size: 30px;
		font-weight: 600;
	}
	.content-padding {
		padding: 0px 250px 50px;
	}
	.shop-image {
		width: 100%;
		height: 215px;
		border-radius: 10px;
	}
	.shop-address {
		color: grey;
		font-size: 17px;
	}
	.box {
		height: 400px;
	}
	.shop-heading {
		font-size: 30px;
		margin-top: 20px;
		font-weight: 400;
	}
	.shop-time {
		font-size: 20px;
	}
	.loginBanner {
		width: 50%;
		position: absolute;
		right: 50%;
		top: 0;
		height: 100%;
	}
	.loginPage {
		height: 100vh!important;
		background: #fff;
		width: 100%;
		position: relative;
	}
	.loginbox {
		width: 30%;
		position: absolute;
		transform: translate(50%, -50%);
		left: 47%;
		top: 50%;
		box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
		border-radius: 32px;
		padding: 100px 100px 20px;
		min-height: 50vh;
	}
	.welcome-message {
		font-size: 30px;
		font-weight: 600;
		color: orange;
		text-align: center;
	}
	.box-label {
		font-size: 30px;
		color: brown;
		font-weight: 600;
	}
	.reset-password, .sign-up {
		font-size: 25px;
		font-weight: 600;
		color: brown;
		text-align: center;
		cursor: pointer;
	}
	.sign-up {
		margin-top: 25px;
	}
	.login-box-icon {
		height: 100px;
		width: 100px;
		position: absolute;
		top: -7%;
		left: 40%;
	}
	.login-button {
		font-size: 25px;
		padding: 10px 10px;
		font-weight: 600;
		background: orange;
		width: 100%;
		margin: 30px 0px 0px;
	}
	.incorrect-password-text {
		margin: 0px 0px -25px;
		color: red;
		font-size: 20px;
	}
	.shop-details-outer {
		padding: 30px 200px;
		margin: 0px!important;
	}
	.empty-cart-image {
		height: 358px;
	}
	.menu-items {
		margin-bottom: 10px;
		height: 80px;
		background-color: orange;
		margin-right: 20px;
		margin-bottom: 10px;
		padding: 15px;
		border-radius: 15px;
		position: relative;
	}
	.menu-items-name {
		display: inline-block;
		font-size: 28px;
		margin: -10px 65px;
		color: white;
		top: 12px;
	}
	.menu-items-price {
		display: block;
		font-size: 25px;
		margin: 2px 0px 2px 65px;
		color: white;
		top: 12px;
	}
	.menu-items-add-button, .menu-items-count-button {
		font-size: 25px;
		right: 5%;
		top: 20%;
		background: white;
		border-radius: 8px;
		padding: 5px;
		border: 1px solid;
		width: 80px;
		text-align: center;
		cursor: pointer;
		position: absolute;
	}
	.menu-items-count-button {
		width: 100px;
		cursor: context-menu;
	}
	.menu-items-count-left-button {
		position: absolute;
		left: 10px;
		font-size: 50px;
		top: -17px;
		cursor: pointer;
	}
	.menu-items-count-right-button {
		position: absolute;
		right: 10px;
		font-size: 35px;
		top: -2px;
		font-weight: 600;
		cursor: pointer;
	}
	.menu-items-image {
		top: 15px;
		position: absolute;
		height: 52px;
		border-radius: 15px;
	}
	.cart-items {
		background-color: orange;
		padding: 20px;
		min-height: 250px;
		border-radius: 15px;
		position: sticky;
		top: 30px;
	}
	.order-details-heading {
		font-size: 30px;
		color: white;
	}
	.order-details-items {
		font-size: 25px;
		color: white;
	}
	.checkout-button {
		background-color: white !important;
		color: orange !important;
	}
	.checkout-outer {
		padding: 0px 300px 35px;
		margin: 0px !important;
	}
	.checkout-apply-btn {
		margin: 0px;
		display: inline;
		width: 25%;
		height: 40px;
		padding: 5px !important;
		font-size: 20px;
		background-color: orange;
		border-radius: 5px;
	}
	.checkout-apply-text {
		width: 66% !important;
		display: inline;
		margin-right: 30px;
		font-size: 20px;
	}
	.checkout-code-not-applied {
		font-size: 20px;
		color: red;
	}
	.checkout-code-applied {
		font-size: 20px;
		color: green;
	}
	.checkout-apply-btn-disabled {
		cursor: not-allowed;
		background-color: #ebebe4;
	}
	.customer-info {
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		margin: 0px !important;
		border-radius: 12px;
		background-color: white;
		padding: 30px;
	}
	.bill-info {
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		margin: 0px !important;
		min-height: 500px;
		border-radius: 12px;
		float: right;
		background-color: white;
		padding: 30px;
	}
	.radio-btn-size {
		height: 30px;
		width: 30px;
		cursor: pointer;
	}
	.radio-text-size {
		font-size: 30px;
		margin-left: 25px;
		margin-right: 20px;
	}
	.area-box, .profile-page-area-box {
		height: 45px;
		width: 30%;
		font-size: 30px;
		margin-left: 30px;
		border: 1px solid brown;
		border-radius: 10px;
		padding: 5px 16px;
	}
	.profile-page-area-box {
		width: 95%;
		margin-left: 0px;
	}
	.bill-info-heading {
		font-size: 30px;
		margin: 0px;
		text-align: center;
	}
	.bill-info-text {
		font-size: 30px;
		margin: 0px;
	}
	.bill-info-delivery-text {
		margin-top: 20px !important;
		font-size: 25px;
	}
	.place-order-button {
		background-color: #28A745;
		color: white;
	}
	.display-block {
		display: block;
	}
	.confirm-modal-heading {
		font-size: 30px;
		text-align: center;
	}
	.confirm-modal-body {
		font-size: 30px;
		text-align: center;
	}
	.confirm-modal-body-2 {
		margin-top: -30px;
		margin-bottom: 35px;
		font-size: 30px;
		text-align: center;
	}
	.modal-header {
		border: none !important;
	}
	.modal-footer {
		border: none !important;
	}
	.confirm-modal-close {
		margin-top: -70px !important;
		margin-right: -25px;
		font-size: 35px;
		color: black;
		opacity: 1;
	}
	.confirm-modal-no {
		position: absolute;
		left: 60%;
		font-size: 30px;
		bottom: 3%;
	}
	.confirm-modal-yes {
		position: absolute;
		bottom: 9%;
		right: 7%;
		font-size: 18px;
		background: #28A745;
	}
	.modal-content {
		min-height: 200px;
	}
	.order-placed-outer {
		padding: 100px 400px;
		text-align: center;
	}
	h1 {
		font-size: 50px !important;
	}
	.order-placed-box {
		height: 500px;
		background-color: white;
		width: 100%;
		padding: 50px;
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		border-radius: 15px;
	}
	.order-placed-image {
		height: 150px;
		margin-bottom: 30px;
	}
	.order-placed-text {
		font-size: 30px;
		margin: 10px 0px 10px;
	}
	.order-placed-btn {
		width: 30%;
	}
	.offers-page-outer {
		padding: 50px;
		margin: 10px 300px 50px 300px;
		background-color: white;
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		min-height: 650px;
		border-radius: 15px;
		position: relative;
	}
	.offers-box {
		padding: 30px;
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		border: 1px solid #dadce6;
		border-radius: 15px;
		margin-bottom: 15px;
		margin-top: 15px;
		cursor: pointer;
	}
	.offers-heading {
		font-size: 50px;
		margin-top: 30px;
		text-align: center;
	}
	.offers-copy-btn {
		height: 50px;
		width: 100%;
		background-color: white;
		border-radius: 15px;
		border: 1px dashed orange;
		text-align: center;
		padding: 0px;
		bottom: 23%;
		color: orange;
	}
	.offers-copy-btn-outer {
		padding: 0px 23px;
		margin-top: 15px
	}
	.offers-text {
		font-size: 30px;
		vertical-align: text-top;
	}
	.offers-box-heading {
		font-size: 30px;
		color: black;
		margin: 0px!important;
	}
	.offers-box-text, .offers-box-copied-text {
		font-size: 20px;
		color: black;
		margin: 5px 10px 0px;
	}
	.offers-box-copied-text {
		margin: 10px 0px 0px;
	}
	.offers-not-found, .offers-not-found-shop-details {
		height: 550px;
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
	}
	.offers-not-found-shop-details {
		height: 450px;
		top: 67%;
	}
	.offers-not-found-text1, .offers-not-found-text2, .offers-not-found-text1-shop-details {
		font-size: 40px;
		position: absolute;
		transform: translate(-50%, -50%);
		top: 35%;
		left: 50%;
		z-index: 1;
	}
	.offers-not-found-text1-shop-details {
		top: 60%;
	}
	.offers-not-found-text2 {
		top: 43%;
	}
	.checkout-discount-text {
		font-size: 20px;
		margin: 0px;
	}
	.checkout-total-text {
		font-size: 30px;
		margin: 0px;
	}
	.order-history-outer {
		margin: 20px 200px 100px 200px;
		background-color: white;
		min-height: 600px;
		border-radius: 15px;
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		padding: 10px 30px 30px;
	}
	.order-history-box {
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		border: 1px solid #dadce6;
		border-radius: 15px;
		margin-right: 20px;
		margin-top: 20px;
		padding: 20px;
	}
	.order-history-box-heading {
		font-size: 25px;
		margin-bottom: 5px;
	}
	.order-history-box-text-heading {
		font-size: 20px;
		color: gray;
	}
	.order-history-box-text {
		font-size: 20px;
		color: black;
		float: right;
	}
	.order-history-box-btn {
		height: 50px;
		width: 40%;
		border: 1px solid orange;
		border-radius: 15px;
		text-align: center;
		padding: 0px;
		bottom: 23%;
		margin: 10px 0px;
	}
	.order-history-box-btn:hover {
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, 1);
	}
	.order-history-box-btn-text {
		font-size: 15px;
		padding: 10px;
		color: orange;
	}
	.order-history-box-image {
		height: 70px;
	}
	.order-history-modal {
		padding: 30px;
		height: 800px;
		overflow: auto;
	}
	.order-history-modal-body-heading {
		font-size: 25px;
		font-weight: 600;
	}
	.order-history-modal-body-item-text {
		font-size: 30px;
		margin: 0px;
	}
	.order-history-modal-body-quantity-text {
		margin-bottom: 10px;
		font-size: 22px;
	}
	.order-history-modal-body-item-cost-text {
		margin-bottom: 10px;
		font-size: 22px;
		float: right;
	}
	.order-history-modal-body-item-portion-text {
		font-size: 20px;
		margin: 0px;
		margin-top: -5px;
		margin-bottom: 5px;
	}
	.no-shops-found {
		position: relative;
		background-color: white;
		min-height: 600px;
		border-radius: 15px;
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		padding: 30px;
	}
	.no-shops-found-image, .no-shops-found-image-order-history, .no-shops-found-image-glass, .no-shops-found-image-glass-order-history {
		height: 200px;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		position: absolute;
	}
	.no-shops-found-image-glass {
		top: 65%;
		left: 57%;
	}
	.no-shops-found-image-order-history {
		height: 400px;
		top: 55%;
	}
	.no-shops-found-image-glass-order-history {
		top: 68%;
		left: 58%;
	}
	.no-shops-found-heading {
		font-size: 50px;
		margin-top: 35px;
		text-align: center;
	}
	.profile-page-outer {
		margin: 20px 300px 100px 300px;
		background-color: white;
		box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
		border-radius: 15px;
		padding: 30px;
		min-height: 650px;
		position: relative;
	}
	.profile-page-btn {
		font-size: 25px;
		padding: 10px 10px;
		font-weight: 600;
		background: orange;
		width: 20%;
		margin: 30px 0px 0px;
	}
	.reset-password-text {
		font-size: 30px;
		margin: 15px 0px;
	}
}