body {
	/* margin: 0px !important;
	padding: 0px !important; */
	font-family: 'lora';
}

.logo {
	height: 60px;
}

.mr-r-15 {
	margin-right: 15px;
}

.mr-r-5 {
	margin-right: 5px;
}

.mr-r-30 {
	margin-right: 30px;
}

.mr-t-20 {
	margin-top: 20px;
}

.pd-39 {
	padding: 39px;
}

.sticky-top {
	position: fixed;
	top: 0;
}

.mr-tb-45 {
	margin: 45px 0px;
}

.box {
	height: 350px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 20px;
	border-color: #d3d5df;
	box-shadow: 0 4px 20px 0 rgba(218, 220, 230, .6);
	cursor: pointer;
	margin-bottom: 15px;
}

footer {
	background-color: #f8f9fa;
	height: 40px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer .text {
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	margin: 5px 0px;
}

.form-control {
	background: no-repeat;
	border: none;
	color: #000;
	border-bottom: 1px solid rgb(160 160 160 / 32%);
	border-radius: 0px;
	padding: 0px;
	box-shadow: none !important;
	font-size: 30px;
}

.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid orange;
	border-color: orange transparent orange transparent;
	animation: lds-dual-ring 1.2s linear infinite;
	position: absolute;
	top: 50%;
	left: 43%;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 768px) {
	.header {
		height: 80px;
		width: 100%;
		box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
		padding: 10px;
		position: relative;
	}
	.logo-text {
		display: inline-block;
		font-size: 20px;
		margin: 0px 0px 0px 15px;
	}
	.nav-items {
		font-size: 14px;
		position: absolute;
		right: 0px;
		top: 28px;
	}
	.nav-mr {
		margin-right: 12px;
	}
	.nav-items :hover {
		color: orange;
		cursor: pointer;
	}
	.count-text {
		font-size: 20px;
		font-weight: 600;
	}
	.content-padding {
		padding: 25px 20px;
	}
	.shop-image {
		width: 100%;
		height: 150px;
		border-radius: 10px;
	}
	.shop-time {
		font-size: 15px;
	}
	.shop-address {
		color: grey;
		font-size: 15px;
	}
	.box {
		height: 325px;
	}
	.shop-heading {
		font-size: 25px;
		margin-top: 20px;
		font-weight: 400;
	}
	.loginBanner {
		width: 50%;
		position: absolute;
		right: 50%;
		top: 0;
		height: 100%;
	}
	.loginbox {
		width: 70%;
		position: absolute;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
		box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
		border-radius: 32px;
		padding: 50px 50px 10px;
		min-height: 50vh;
	}
	.loginPage {
		height: 100vh!important;
		background: #fff;
		width: 100%;
	}
	.display-none {
		display: none !important;
	}
	.welcome-message {
		font-size: 15px;
		font-weight: 600;
		color: orange;
		text-align: center;
	}
	.box-label {
		font-size: 15px;
		color: brown;
		font-weight: 600;
	}
	.forget-password, .sign-up {
		font-size: 10px;
		font-weight: 600;
		color: brown;
		text-align: center;
		cursor: pointer;
	}
	.sign-up {
		margin-top: 12px;
	}
	.login-box-icon {
		height: 50px;
		width: 50px;
		position: absolute;
		top: -6%;
		left: 40%;
	}
	.form-control {
		height: 25px;
		font-size: 18px;
	}
	.login-button {
		font-size: 13px;
		padding: 10px 10px;
		font-weight: 600;
		background: orange;
		width: 100%;
		margin: 15px 0px 0px;
	}
	.lds-dual-ring:after {
		left: 36%;
	}
	.incorrect-password-text {
		margin: 0px 0px -25px;
		color: red;
		font-size: 15px;
		text-align: center;
	}
}

@media only screen and (min-width: 769px) {
	.header {
		height: 100px;
		width: 100%;
		box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
		padding: 25px 250px;
		position: relative;
	}
	.logo-text {
		display: inline-block;
		font-size: 30px;
		margin: 0px 0px 0px 15px;
	}
	.nav-items {
		font-size: 25px;
		float: right;
		margin: 6px 0px;
	}
	.nav-items :hover {
		color: orange;
		cursor: pointer;
	}
	.nav-mr {
		margin-right: 20px;
	}
	.count-text {
		font-size: 30px;
		font-weight: 600;
	}
	.content-padding {
		padding: 50px 250px;
	}
	.shop-image {
		width: 100%;
		height: 215px;
		border-radius: 10px;
	}
	.shop-address {
		color: grey;
		font-size: 17px;
	}
	.box {
		height: 400px;
	}
	.shop-heading {
		font-size: 30px;
		margin-top: 20px;
		font-weight: 400;
	}
	.shop-time {
		font-size: 20px;
	}
	.loginBanner {
		width: 50%;
		position: absolute;
		right: 50%;
		top: 0;
		height: 100%;
	}
	.loginPage {
		height: 100vh!important;
		background: #fff;
		width: 100%;
		position: relative;
	}
	.loginbox {
		width: 30%;
		position: absolute;
		transform: translate(50%, -50%);
		left: 47%;
		top: 50%;
		box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
		border-radius: 32px;
		padding: 100px 100px 20px;
		min-height: 50vh;
	}
	.welcome-message {
		font-size: 30px;
		font-weight: 600;
		color: orange;
		text-align: center;
	}
	.box-label {
		font-size: 30px;
		color: brown;
		font-weight: 600;
	}
	.forget-password, .sign-up {
		font-size: 25px;
		font-weight: 600;
		color: brown;
		text-align: center;
		cursor: pointer;
	}
	.sign-up {
		margin-top: 25px;
	}
	.login-box-icon {
		height: 100px;
		width: 100px;
		position: absolute;
		top: -7%;
		left: 40%;
	}
	.login-button {
		font-size: 25px;
		padding: 10px 10px;
		font-weight: 600;
		background: orange;
		width: 100%;
		margin: 30px 0px 0px;
	}
	.incorrect-password-text {
		margin: 0px 0px -25px;
		color: red;
		font-size: 20px;
	}
}